body {
    background-color: #aeaeae;
}

#coffeenav {
    background: url("/static/media/header-img.png") 50% 0 no-repeat;
    color: white;
    min-height: 500px;
    padding: 0;   
}

.bg-primary {
    background-color: rgba(0, 80, 117, 0.9) !important;
}